{%extends 'FreelanceFrontOfficeBundle::layout.html.twig' %}

{% block StatPays %}
<div class="row">
    <div class="span6">

        <div class="flexslider flexslider-center-mobile flexslider-simple" data-plugin-options='{"animation":"slide", "animationLoop": true, "maxVisibleItems": 1}'>
            <ul class="slides">
                <li>
										{{ render(controller("FreelanceGrapheBundle:Graphe:chartPieProjet")) }}

                </li>

            </ul>
        </div>



    </div>
    <div class="span6">

        <div class="flexslider flexslider-center-mobile flexslider-simple" data-plugin-options='{"animation":"slide", "animationLoop": true, "maxVisibleItems": 1}'>
            <ul class="slides">
                <li>
										{{ render(controller("FreelanceGrapheBundle:Graphe:ChartHistogrammeProjet")) }}</li>

            </ul>
        </div>



    </div>


</div>
{% endblock %}