{%extends 'FreelanceFrontOfficeBundle::layout.html.twig' %}


 {% block content %} 
<section class="page-top">
					<div class="container">
						<div class="row">
							<div class="span12">
								<ul class="breadcrumb">
									<li><a href="index.html">Home</a> <span class="divider">/</span></li>
									<li class="active">A Propos</li>
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="span12">
								<h2>A Propos De Nous</h2>
							</div>
						</div>
					</div>
				</section>
<h2> <strong> Qui sommes nous ? </strong></h2>

					<div class="row">
						<div class="span10">
							<p class="lead">
								Freelance est un service tunisiens imaginé par des publicitaires et des amoureux du web. Notre objectif : proposer un service clair, simple et facile à utiliser pour mettre en relation les "annonceurs", les "agences" ou les particuliers avec les meilleurs freelances français dans tous les métiers de la communication : Directeur Artistique, Développeur, Intégrateur HTML, Producteur, Illustrateur...
							</p>
						</div>
						<!--
						<div class="span2">
							<a href="#" class="btn btn-large btn-primary pull-top">Join Our Team!</a>
						</div>
						-->
					</div>

					<hr class="tall">

					<div class="row">
						<div class="span8">
							<h3><strong>Vous êtes agence ou annonceur ? </strong></h3>
							Ce service est totalement gratuit et illimité. </br> </br>	
							<h3><strong>Vous êtes freelance ? </strong></h3>
							
							<strong>
							Une question ? Une suggestion ? Une remarque sur le service ? </strong>
							<strong> Ecrivez-nous </strong>, nous serons ravis de vous répondre. </br> </br>
							<strong> Relation Presse: </strong>
						    <p > Pour toute demande d’information : <a href =""> elusive.freelance@gmail.com </a>
							 N’oubliez pas de nous rejoindre sur Facebook pour échanger avec la communauté !
							
						</div>
                                        </div>
{% endblock %}