


   

  
    <form  id="contactForm" method="post">
        <div class="row controls">
            <div class="span3 control-group">

         {{form(form)}}
                

                <div class="btn-toolbar">
                    <input type="submit" value="Send Message" class="btn btn-primary btn-large" data-loading-text="Loading...">

                </div>
            </div>
        </div>             
   {{ form_rest(form)}} 
    </form>
